LLM_BASE_URL=https://xiaoai.plus/v1
LLM_API_KEY=sk-aaaaaaaaaaaaa
LLM_MODEL_NAME=gpt-4o
KG_LLM_MODEL_NAME=gemini-1.5-flash

EMBEDDING_BASE_URL=https://xiaoai.plus/v1
EMBEDDING_API_KEY=sk-aaaaaaaaaaaaaa

MAIN_SERVER_PORT=8000
A2A_SERVER_PORT=8001
VITE_API_SERVER_URL=http://localhost:8000

# Empty to use JuiceFS
USE_LOCAL_FS="./data/local"
USE_CACHE=false

JFS_NAME=iosysfilesystem
JFS_CACHE_DIR=./data/jfs_cache
JFS_LOG_FILE=./data/jfs.log
JFS_PID_FILE=./data/jfs.pid
JFS_META_URL=sqlite3://./data/jfs.db
JFS_MOUNTPOINT=J:
JFS_TOKEN=

# e.g. ./data/graph.json, keep it empty to use Nebula Graph
USE_LOCAL_GRAPH_STORE="./data/graph.json"

NEBULA_URL=nebula://nebula-graph-nd12jlc7kohss73bp7f70.aws.cloud.nebula-graph.io
NEBULA_USERNAME=kermanx@qq.com
NEBULA_PASSWORD=Abcd1234
NEBULA_SPACE=IOSYS

QDRANT_DATABASE_PATH=./data/qdrant
